.creators{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 40px;
  margin: 0 auto;
  width: 100%;
  .card {
    padding: 22px;
    border: 1px solid var(--primary);
    box-shadow: 0 0 15px var(--primary);
    background-color: var(--active);
    border-radius: 5px;
    max-width: 100%;
    min-height: 275px;
    & .creatorImg{
      margin: 0 auto;
      margin-bottom: 20px;
      height: 85px;
      width: 85px;
      border-radius: 50%;
    }
    & .socialLinks{
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
    & h2{
      text-align: center;
      margin-bottom: 16px;
    }
    transition: box-shadow .3s ease-in-out;
    &:hover {
    box-shadow: 7px 7px 15px var(--primary);
    }
  }
}
.socials{
  display: flex;
  gap: 10px;
  align-items:center;
  font-size: small;
  & :first-child{
    margin-bottom: 5px;
  }
  & img{
    position: relative;
    top: 4px;
  }
}

.creatorDescr {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}
