.feed{
  // max-height: calc(100vh - 109px - 72px - 84px);
  // min-height: 500px;
  // overflow-y: scroll;
  width: 100%;
  max-width: 100%;
  background-color: var(--dark-theme-09);
  border-radius: 0.5rem;
  padding: 20px;
  border: 1px solid var(--active);
  &__search-box {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
  }
  &__input {
    margin-right: 30px;
  }
  &__list {
    overflow-x: hidden;
    max-height: calc(100vh - 109px - 72px - 219px);
    min-height: 400px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}

.event-card:last-child {
  margin-bottom: 0;
}

@media (max-width: 520px) {
  .feed__search-box {
    flex-direction: column;
    .btn {
      width: 100%;
    }
  }
  .feed__input {
    margin: 0;
    margin-bottom: 20px;
  }
}
