@import '../../styles/tools/pxconvert';

.footer {
    padding: rem(30) 0;
    color: var(--light-theme);
    background-color: transparent;

  &__container {
    text-align: center;
  }

  &__link {
    transition-property: opacity, color, border-color;
    transition-timing-function: ease;
    transition-duration: .3s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: var(--hover);
      color: var(--light-theme);
    }

    &.focus-visible,
    &:active {
      border-color: var(--focus);
      color: var(--focus);
    }

    &:active {
      opacity: .7;
    }
  }

  &__description {
    font-size: rem(12);
  }
}
