@import '../../styles/tools/pxconvert';

.footer {
    padding: rem(10) 0;
    color: rgb(var(--light-theme));

  &__container {
    text-align: center;
  }

  &__link {
    transition-property: opacity, color, border-color;
    transition-timing-function: ease;
    transition-duration: .3s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: rgb(var(--hover));
      color: rgb(var(--light-theme));
    }

    &.focus-visible,
    &:active {
      border-color: rgb(var(--focus));
      color: rgb(var(--focus));
    }

    &:active {
      opacity: .7;
    }
  }

  &__description {
    font-size: rem(12);
  }
}
