@import '../../styles/tools/pxconvert';

.discover {
  &__container {
    width: 100%;
    height: 100%;
    padding: rem(25);
    border-radius: rem(25);
    background-color: rgba(var(--light-theme), .3);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__feed {
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;

    & ul {
      padding-inline-start: 0px;
    }
  }
  &__selector {
    font-size: rem(20);
    border-bottom: 2px solid transparent;
    transition-property: color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;

    &:first-child, &:nth-child(2) {
      margin-right: rem(40);
    }

    &.active {
      color: rgba(var(--primary));
    }

    &:hover {
      color: rgb(var(--hover));
      border-color: rgb(var(--hover));
    }
  }
  &__selectors {
    align-self: center;
    margin-bottom: rem(30);
    margin-top: rem(5);
  }
}
.filterContainer{
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  height: fit-content;
  max-width: 200px;
  margin-bottom: 20px;
  // position: fixed;
}
.filter{
  display: flex;
  justify-content: space-between;
  color: var(--dark-theme);
  &__label {
    display: flex;
    margin-right: rem(5);
  }
}
.eventCard{
  outline: 1px solid black;
  background-color: white;
  color: rgb(105, 105, 105);
  margin: 1px;
}
.searchBar{
  width: 200px;
}

