.modal, .modal__overlay{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  
  &__overlay{
    background-color: rgba(49,49,49,0.8);
  }

  &__content{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--dark-theme);
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    width: 50vw;
    min-width: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
    
    & .btn{
      
    }
  }
}
.event__form-descr {
  min-height: 200px;
}
.form__label-last{
  margin-bottom: 16px;
}
