@import '../../styles/tools/pxconvert';

.contacts{
  outline: 1px solid var(--active);
  padding: rem(20);
  border-radius: 3%;
  min-width: 220px;

  & input{
    width: 100%;
  }
  & h2{
    margin-bottom: 3px;
  }
}
