.user{
  max-width: 20%;
  min-width: 100px;
  position: relative;
  & h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & img{
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
  }
}

.avatar-image{
  border-radius: 50%;
  margin: auto;
  cursor: pointer;

  &:hover {
    filter: brightness(80%); 
  }
}

.event__form-descr {
  min-height: 300px;
}
