.user{
  max-width: 20%;
  min-width: fit-content;
  position: relative;
  & h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & img{
    border-radius: 50%;
    margin: auto;
  }
  & .btn{
    margin-top: 16px;
  }
}

.event__form-descr {
  min-height: 300px;
}
