#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --dark: #333;
  --light: #ededed;
  --primary: skyblue;
  --hover: rgb(98, 226, 255);
  --focus: rgb(122, 157, 255);
}

/* how to use
  .class {
    background: var(--dark);
    color: (--light);
  }

  .class:hover {
    color: var(--hover)
  }
*/
